@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 40% 98%;
  --foreground: 222 47% 11%;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
